@font-face {
    font-family: "Pokemon GB";
    src: url("https://cdnjs.cloudflare.com/ajax/libs/Press-Start-2P/1.0.0/PressStart2P.woff2") format("woff2");
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(3, 0, 20);
    min-height: 100vh;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: transparent;
    z-index: 1000;
}


.controls {
    display: flex;
    gap: 15px;
}

.btn {
    padding: 5px 5px;
    border: 4px solid rgb(0, 0, 0);
    box-shadow: 2px 2px 2px 2px bl;
    background: rgb(255, 255, 255);
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: transform 0.15s ease, box-shadow 0.15s ease, background-color 0.15s ease, color 0.15s ease, filter 0.15s ease;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    gap: 8px;
}

.btn:hover {
    transform: scale(1.05);
}

.btn:active {
    transform: scale(0.995);
}

#dialogbox {
    cursor: pointer;
    font-size: 12px;
    font-family: "Pokemon GB", monospace, sans-serif;
    border-radius: 10px;
    border: 3px solid black;
    padding: 20px;
    position: relative;
    width: 200%;
    transform: translateX(-17%);
    margin-top: 15px;
    background: white;
    user-select: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

#dialogbox.title-style {
    text-align: center;
    font-size: 13px;
    font-weight: 700;
}


#arrow {
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top-color: black;
    position: absolute;
    bottom: 8px;
    right: 12px;
    animation: bounce 0.5s ease-in-out infinite alternate;
}


@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-8px);
    }
}



@media (max-width: 600px) {
    .navbar {
        height: 140px;
        padding: 0 20px;
    }

    #dialogbox {
    width: 150%;
    padding: 10px 0px 10px 0px;
}

}