
* {
    box-sizing: border-box;
    font-family: 'Press Start 2P', monospace;

}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-weight: 700;
    font-style: normal;
    background-image: url("https://res.cloudinary.com/dc4u0bzgh/image/upload/v1761840890/View3_2_zoinff.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    overflow: hidden;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    z-index: 1000;
}
.counter-container {
    text-align: center; 
    font-size: 2rem; 
    color: #154985;
}

.left-spacer {
    width: auto;
    min-width: 90px; 
}

.controls {
    display: flex;
    gap: 15px;
}
.controls {
    display: flex;
    gap: 15px;
}

.btn {
    padding: 12px 12px;
    border: 4px solid rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    gap: 8px;
}

.btn:hover {
    transform: scale(1.05);
}

.btn:active {
    transform: scale(0.95);
}

.icon {
    font-size: 20px;
}

.content {
    margin-top: 100px;
    text-align: center;
    color: white;
}

.muted {
    opacity: 0.6;
}

marquee {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 70%;
    margin: 0 auto 300px auto;
    padding: 0 20px;
    background-color: #210b37;
    border: 4px solid #010101;
    border-radius: 20px;
    outline: 10px outset rgba(60, 112, 152, 1);
}

.characters-grid {
    position: absolute;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 40%;      
    height: 70%;     
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%); 
    z-index: 2;
    border: 2px rgba(109, 106, 110, 0.3); 
}

.character-card {
    position: relative;
    width: 110px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    text-align: center;
    overflow: hidden;
}

.remove-btn {
    position: absolute;
    top: 2px;
    right: 5px;
    background: rgba(213, 90, 90, 1);
    border-radius: 50%;
    border: none;
    width: 20px;
    height: 20px;
    color:#000;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    z-index: 2;
}

.remove-btn:hover {
    background-color: #e2a99b;
    transform: translateY(-3px) scale(1.02);
}

.character-image {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    background-color:rgba(221, 128, 193, 1);
}

.character-image img {
    width: 70%;
    height: auto;
    object-fit: contain;
}

.character-name {
    background: rgba(255, 255, 255, 1);
    color: #000;
    width: 100%;
    height: 25%;
    text-align: center;
    font-weight: bold;
    padding: 4px 0;
}

.container_form {
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(60, 112, 152, 1);
    padding: 10px 20px;
    border: 3px solid #000;
    border-radius: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.50);
    width: 40%;
    z-index: 2;
}

form {
    margin: 0;
}

.form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px
}


input {
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
    font-size: 16px;
    color: rgb(7, 7, 7);
    font-weight: bold;
    border: 1px solid #ddd;
    box-sizing: border-box;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
input::placeholder {
    color: rgb(3, 3, 3);
}

button {
    font-weight: bold;
    font-size: 16px;
}
.add {
    background-color: #8BC15B;
    border: 1.5px solid #222;
    cursor: pointer;
    padding: 5px;
    margin-bottom: 5px;
    font-size: bold;
    width: 11%;
    transition: all 0.3s ease;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.begin {
    background-color: #F866A2;
    border: 1.5px solid #222;
    cursor: pointer;
    padding: 5px;
    width: 40%;
    transition: all 0.3s ease;
    margin-bottom: 5px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.add:hover {
    background-color: #5a8536;
    transform: translateY(-3px) scale(1.02);
}

.begin:hover {
    background-color: #b84273;
    transform: translateY(-3px) scale(1.02);
}


@media (max-width: 600px) {
    .container {
        padding: 25px;
    }

    .text-box {
        font-size: 16px;
    }

    .title {
        font-size: 22px;
    }

    .continue-btn {
        padding: 12px 35px;
        font-size: 16px;
    }
}





