* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    height: 100%;
    min-height: 100vh;
}


body {
    font-family: "Courier Prime", monospace;
    font-weight: 700;
    font-style: normal;
    background-image: url("https://res.cloudinary.com/dc4u0bzgh/image/upload/v1761816495/View3_mek9gf.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
    min-height: 100vh;
    font-style: oblique;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: transparent;
    z-index: 1000;
}

.controls {
    display: flex;
    gap: 15px;
}

.btn {
    padding: 12px 12px;
    border: 4px solid rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    gap: 8px;
}

.icon {
    font-size: 20px;
}

.content {
    margin-top: 100px;
    text-align: center;
    color: white;
}

.muted {
    opacity: 0.6;
}



