@font-face {
    font-family: "Pokemon GB";
    src: url("https://cdnjs.cloudflare.com/ajax/libs/Press-Start-2P/1.0.0/PressStart2P.woff2") format("woff2");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    min-height: 100vh;
}

body {
    font-family: "Pokemon GB", monospace;
    background-image:
        url("https://res.cloudinary.com/dhhxrrgut/image/upload/v1762158176/Group_187_kq3165.png"),
        url("https://res.cloudinary.com/dhhxrrgut/image/upload/v1762156300/Group_33_proodc.png"),
        url("https://res.cloudinary.com/dsy30p7gf/image/upload/v1762975576/View1._Welcome_2_iomelg.png");
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 39% auto, 29% auto, cover;
    background-position: center 16%, center bottom, center;
    background-attachment: fixed, fixed, fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    overflow: hidden;
    position: relative;
    height: 100vh;
}


.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: transparent;
    z-index: 1000;
}


.controls {
    display: flex;
    gap: 15px;
}

.btn {
    padding: 5px 5px;
    border: 4px solid rgb(0, 0, 0);
    box-shadow: 2px 2px 2px 2px bl;
    background: rgb(255, 255, 255);
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: transform 0.15s ease, box-shadow 0.15s ease, background-color 0.15s ease, color 0.15s ease, filter 0.15s ease;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    gap: 8px;
}

.btn:hover {
    transform: scale(1.05);
}

.btn:active {
    transform: scale(0.995);
}


.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.start-btn {
    font-family: "PokemonGB", monospace;
    font-weight: bold;
    background: white;
    color: black;
    border: 4px solid black;
    font-size: 16px;
    padding: 10px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
}

.start-btn:hover {
    transform: translateY(-3px) scale(1.02);
}

.start-btn:active {
    transform: translateY(0) scale(0.98);
    filter: invert(1);
}

@media (max-width: 600px) {
    .container {
        padding: 25px;
    }
}

@media (max-width: 768px) {
    body {
        background-attachment: scroll;
        background-size: 99% auto, 69% auto, cover;
        
    }
    
    .navbar {
        height: 140px;
        padding: 0 20px;
    }
}
