@font-face {
            font-family: "Pokemon GB";
            src: url("https://cdnjs.cloudflare.com/ajax/libs/Press-Start-2P/1.0.0/PressStart2P.woff2") format("woff2");
        }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    min-height: 100vh;
}

body {
    font-family: "Pokemon GB", monospace;
    background-image: 
                    url("https://res.cloudinary.com/dhhxrrgut/image/upload/v1762158176/Group_187_kq3165.png"),
                    url("https://res.cloudinary.com/dhhxrrgut/image/upload/v1762156300/Group_33_proodc.png"),
                    url("https://res.cloudinary.com/dhhxrrgut/image/upload/v1761825065/CITY1_ig02de.png");
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size:  39% auto,29% auto, cover;
    background-position: center 16%, center bottom, center;
    background-attachment: fixed, fixed, fixed;
    display: flex;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    overflow: hidden;
    position: relative;
    height: 100vh;
}


.navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
    padding: 20px 40px;
    background: transparent;
    z-index: 100;
}

.controls {
    display: flex;
    gap: 15px;
}

.btn {
    padding: 6px 8px;
    border: 4px solid black;
    background: white;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn:hover {
    transform: translateY(-3px) scale(1.02);
}

.btn:active {
    transform: translateY(0) scale(0.98);
    filter: invert(1);
}


.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.start-btn {
    font-family: "PokemonGB", monospace;
    font-weight: bold;
    background: white;
    color: black;
    border: 4px solid black;
    font-size: 16px;
    padding: 10px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
}

.start-btn:hover {
    transform: translateY(-3px) scale(1.02);
}

.start-btn:active {
    transform: translateY(0) scale(0.98);
    filter: invert(1);
}

@media (max-width: 600px) {
            .container {
                padding: 25px;
            }
}
@media (max-width: 768px) {
  body {
    background-attachment: scroll;
  }
}